---
layout: layouts/main-template.njk
pagination:
  data: list.autumn
  size: 1
  alias: itemAutumn
permalink: "podzim/{{ itemAutumn.name | slug }}/"
---
<a class="back" href="/podzim/"> <img class="back__icon" src="/images/icons/back.png"> zpět</a>
<h1 class="title-list">{{itemAutumn.name}}</h1>

<div class="instruction">
    <img class="instruction__image-main" src="/images/small/{{itemAutumn.profileImage}}" alt="itemAutumn.name">
    <section class="instruction__description">
        <div class="instruction__basic-info">
            <table class="instruction__table">
                <tr>
                    <th >Technika:</th>
                    <th >Potřebný čas:</th>
                    <th >Věk:</th>
                </tr>
                <tr>
                    <td>{{itemAutumn.technique}}</td>
                    <td>{{itemAutumn.duration}}</td>
                    <td>{{itemAutumn.age}}</td>
                </tr>
            </table>
            {% if itemAutumn.sablona !== " " %}
            <a class="download" href="/images/templates/{{itemAutumn.sablona}}" download="sablona-{{itemAutumn.name}}"> Stáhnout šablonu</a>
            {% endif %}
        </div>
    </section> 
    <section class="instruction__text">
        <h2 class="instruction__title">Návod</h2>
        <p><span>Materiál: </span>{{itemAutumn.material | safe }}</p>
        <p><span>Příprava: </span>{{itemAutumn.preparation | safe }}</p>
        <p>{{itemAutumn.text | safe }}</p>
    </section>
    <section class="instruction__images" >
        {% for imageAutumn in itemAutumn.images %}
        <a data-fslightbox href="/images/large/{{imageAutumn}}"><img class="instruction__image-small" src="/images/small/{{imageAutumn}}" alt="navod"></a>
        {% endfor %}
    </section>
</div>
<script src="/javaScript/fslightbox.js"></script>

