---
layout: layouts/main-template.njk
pagination:
  data: list.spring
  size: 1
  alias: itemSpring
permalink: "jaro/{{ itemSpring.name | slug }}/"
---
<a class="back" href="/jaro/"> <img class="back__icon" src="/images/icons/back.png"> zpět na seznam jarního tvoření</a>
<h1 class="title-list">{{itemSpring.name}}</h1>

<div class="instruction">
    <img class="instruction__image-main" src="/images/large/{{itemSpring.profileImage}}" alt="itemSpring.name">
    <section class="instruction__description">
            <div class="instruction__basic-info">
                <div class="instruction__item">
                    <p class="instruction__bold">Technika:</p>
                    <p class="instruction__info">{{itemSpring.technique}}</p>
                </div>
                <div class="instruction__item">
                    <p class="instruction__bold">Potřebný čas:</p>
                    <p class="instruction__info">{{itemSpring.duration}}</p>
                </div> 
                <div class="instruction__item"> 
                    <p class="instruction__bold">Věk:</p>
                    <p class="instruction__info">{{itemSpring.age}}</p>
                </div>
            </div>
            <div>
                {% if itemSpring.sablona !== " " %}
                <a class="download" href="/images/templates/{{itemSpring.sablona}}" download="sablona-{{itemSpring.name}}"> Stáhnout šablonu</a>
                {% endif %}
            </div>
    </section> 
    <section class="instruction__text-layout">
        <h2 class="instruction__title">Návod</h2>
        <p class="instruction__material"><span class="bold">Materiál: </span>{{itemSpring.material | safe }}</p>
        <p class="instruction__priprava"><span class="bold">Příprava: </span>{{itemSpring.preparation | safe }}</p>
        <div class="instruction__text">{{itemSpring.text | safe }}</div>
    </section>
    <section class="instruction__images" >
        {% for imageSpring in itemSpring.images %}
        <a data-fslightbox href="/images/large/{{imageSpring}}"><img class="instruction__image-small" src="/images/small/{{imageSpring}}" alt="navod"></a>
        {% endfor %}
    </section>
</div>

<script src="/javaScript/fslightbox.js"></script>
