---
layout: layouts/main-template.njk
pagination:
  data: list.summer
  size: 1
  alias: itemSummer
permalink: "leto/{{itemSummer.name | slug }}/"
---
<a class="back" href="/leto/"> <img class="back__icon" src="/images/icons/back.png"> zpět</a>
<h1 class="title-list">{{itemSummer.name}}</h1>

<div class="instruction">
    <img class="instruction__image-main" src="/images/small/{{itemSummer.profileImage}}" alt="itemSpring.name">
    <section class="instruction__description">
        <div class="instruction__basic-info">
            <table class="instruction__table">
                <tr>
                    <th >Technika:</th>
                    <th >Potřebný čas:</th>
                    <th >Věk:</th>
                </tr>
                <tr>
                    <td>{{itemSummer.technique}}</td>
                    <td>{{itemSummer.duration}}</td>
                    <td>{{itemSummer.age}}</td>
                </tr>
            </table>
            {% if itemSummer.sablona !== " " %}
            <a class="download" href="/images/templates/{{itemSummer.sablona}}" download="sablona-{{itemSpring.name}}"> Stáhnout šablonu</a>
            {% endif %}
        </div>
    </section> 
    <section class="instruction__text">
        <h2 class="instruction__title">Návod</h2>
        <p><span>Materiál: </span>{{itemSummer.material | safe }}</p>
        <p><span>Příprava: </span>{{itemSummer.preparation | safe }}</p>
        <p>{{itemSummer.text | safe }}</p>
    </section>
    <section class="instruction__images" >
        {% for imageSummer in itemSummer.images %}
        <a data-fslightbox href="/images/large/{{imageSummer}}"><img class="instruction__image-small" src="/images/small/{{imageSummer}}" alt="navod"></a>
        {% endfor %}
    </section>
</div>

<script src="/javaScript/fslightbox.js"></script>

