---
layout: layouts/main-template.njk
pagination:
  data: list.winter
  size: 1
  alias: itemWinter
permalink: "zima/{{ itemWinter.name | slug }}/"
---
<a class="back" href="/zima/"> <img class="back__icon" src="/images/icons/back.png"> zpět</a>
<h1 class="title-list">{{itemWinter.name}}</h1>

<div class="instruction">
    <section class="instruction__description">
        <img class="instruction__image-main" src="/images/small/{{itemWinter.profileImage}}" alt="itemWinter.name">
        <div class="instruction__basic-info">
            <table class="instruction__table">
                <tr>
                    <th >Technika:</th>
                    <th >Potřebný čas:</th>
                    <th >Věk:</th>
                </tr>
                <tr>
                    <td>{{itemWinter.technique}}</td>
                    <td>{{itemWinter.duration}}</td>
                    <td>{{itemWinter.age}}</td>
                </tr>
            </table>
            {% if itemWinter.sablona !== " " %}
            <a class="download" href="/images/templates/{{itemWinter.sablona}}" download="sablona-{{itemSpring.name}}"> Stáhnout šablonu</a>
            {% endif %}
        </div>
    </section> 
    <section class="instruction__text">
        <h2 class="instruction__title">Návod</h2>
        <p><span>Materiál: </span>{{itemWinter.material | safe }}</p>
        <p><span>Příprava: </span>{{itemWinter.preparation | safe }}</p>
        <p>{{itemWinter.text | safe }}</p>
    </section>
    <section class="instruction__images" >
        {% for imageWinter in itemWinter.images %}
        <a data-fslightbox href="/images/large/{{imageWinter}}"><img class="instruction__image-small" src="/images/small/{{imageWinter}}" alt="navod"></a>
        {% endfor %}
    </section>
</div>
<script src="/javaScript/fslightbox.js"></script>
