@use '../base/colors';
@use '../abstracts/mixins';
@use '../base/basic';

.project {
    color: colors.$color-text;
    padding: 20px;
    &__title{
        color: colors.$color-text;
        font-weight: 400;
    }
    &__omne {
        display: flex;
        @include mixins.desktop{
            max-width: 940px;
        }
    }
    &__foto {
        display: none;
        @include mixins.tablet{
            display: flex;
            max-width: 300px;
            border-radius: 4px 180px 4px 4px;
            padding: 20px 20px 20px 0 ;
        }
    }
}