@use '../base/colors';
@use '../abstracts/mixins';
@use '../base/typography';
@use '../base/basic';

.title-list {
    margin:0 0 20px 0;
}
.instruction {
    padding: 20px;
    margin: 0 auto;
    font-size: 18px;
    background-color: white;
   
    &__image-main{
        width:100%;
        max-width: 460px;
        border-radius: basic.$border-radius;       
    }
    &__table {
        padding-bottom: 20px;
        & th {
            padding-right: 20px;
        }
    }
    &__basic-info{ 
        text-align: left;
        padding-bottom: 20px;
        @include mixins.tablet {
            padding-left: 20px;
        }
    }
    &__images{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    &__image-small {
        flex-basis: calc(50% - 20px);
        width: 100%;
        @include mixins.tablet {
            flex-basis: calc(25% - 20px)
        }
        @include mixins.desktop {
            flex-basis: calc(100%/6 - 20px)
        }
    }
    &__description {
        @include mixins.tablet {
        display: flex;
        }
    }
    &__title {
        font-weight: 400;
    }
}


.download {
    @include mixins.link;
    max-height: 36px;
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 12px;
    color: colors.$color-primary;
    border: 1px solid colors.$color-primary;
    &:hover {
        color: white;
        background-color: colors.$color-primary;
    }
}
