@use '../base/colors';
@use '../abstracts/mixins';
@use '../base/typography';
@use '../base/basic';

.instruction {
    padding: 20px;
    margin: 0 auto;
    &__description {
        display:flex;
    }
    &__image-main{
        width: 100%;
        object-fit:contain
    }
}
.download {
    @include mixins.link;
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid colors.$color-logo;
}