@use '../base/colors';
@use '../abstracts/mixins';
@use '../base/typography';
@use '../base/basic';

.navigation {
    display:flex;
    flex-wrap: wrap;
    padding: 10px 0;
    @include mixins.tablet{
        padding: 20px 0;
    }
    &__item {
        flex-basis: 100%;
        flex-grow: 1;
        background-color: white;
        text-align: right;
        padding: 80px 0px 60px 0px;
        margin: 10px 10px;
        border-radius: 4px;
        text-decoration: none;
        @include mixins.tablet{
           flex-basis: 20%;
           margin: 0 10px;
           border-radius: 4px;
        }
        @include mixins.desktop{
            flex-basis: 40%;
            padding: 100px 0 60px 0;
            margin: 20px;

        }
    }

    &__text {
        text-decoration: none;
        color: white;
        padding: 5px 10px;
        font-size: 18px;
        background-color: colors.$color-primary;
        border-radius: 4px 0 0 4px ;
        @include mixins.desktop{
            font-size: 20px;
        }
    }  
    &__background1 {
        background-image: url(/images/background/navigation-spring-small.JPG);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__background2{
        background-image: url(/images/background/navigation-summer-small.JPG);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__background3{
        background-image: url(/images/background/navigation-autumn-small.JPG);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__background4{
        background-image: url(/images/background/navigation-winter-small.JPG);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.description {
    font-size: 20px;
    font-weight: 300;
    color: colors.$color-text;
    text-align: center;
    margin: 0;
    padding: 20px 10px 0 10px;
   
    @include mixins.tablet{
        font-size: 24px;
        padding-top: 40px;
    }
    @include mixins.desktop{
        font-size: 28px;
    }
}
