@use '../base/colors';
@use '../abstracts/mixins';
@use '../base/basic';

.title-list {
    padding-left: 20px;
    text-align: center;
    font-weight: 400;
    // color: colors.$color-logo;
}
.list {
    @include mixins.flex;
    padding: 20px;
    &__item {
        box-shadow: 1px 2px 4px colors.$color-logo;
        padding: 20px;
        @include mixins.flex;
    }
    &__image {
        border-radius: basic.$border-radius;
    }
     &__part th {
        display: block; 
    }
    &__part td {
        display: block;
        font-size: 16px;
    }
    &__name {
        font-size: 20px;
    }
    a {
        @include mixins.link;
    }
} 