@use '../base/colors';
@use '../abstracts/mixins';
@use '../base/basic';

.title-list {
    padding-left: 20px;
    text-align: center;
    font-weight: 400;
    // color: colors.$color-logo;
}
.list {
    padding: 20px;
    display:flex;
    flex-wrap: wrap;
    &__item {
        box-shadow: 1px 2px 4px colors.$color-logo;
        padding: 20px;
        margin-bottom: 20px;
        flex-basis: 200px;

        @include mixins.tablet {
            max-width: 200px;
        }
    }
    &__image {
        border-radius: basic.$border-radius;
        width: 100%;
    }
 
    &__part th {
        text-align: left;
        font-weight: 500;
        @include mixins.tablet {
            display: block; 
        }
    }
    &__part td {
        font-size: 14px;
        text-align: left;
        font-weight: 300;
        padding-left: 20px;
        @include mixins.tablet {
            display: block;
            padding: 0;
        }
    }
    &__name {
        font-size: 20px;
        font-weight: 300;
        padding:10px 0;
        grid-area: name;
    }
  
    &__link {
        @include mixins.link;
    }
} 