@use '../base/colors';
@use '../abstracts/mixins';
@use '../base/basic';

.title-list {
    padding-left: 20px;
    text-align: center;
    font-weight: 400;
    // color: colors.$color-logo;
}
.list {
    padding: 20px;
    margin: 0 auto;
    @include mixins.tablet {
       display: flex;
       flex-wrap: wrap;
       gap: 20px;
    }
    &__item {
        box-shadow: 1px 2px 4px colors.$color-logo;
        margin-bottom: 20px;
        border-radius: basic.$border-radius;
        @include mixins.tablet {
            flex-basis: calc(50% - 20px);
        }
        @include mixins.desktop {
            flex-basis: calc(25% - 20px);
        }
    }
    &__description{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "image table";
        @include mixins.desktop {
           display: block;
        }
    }
    &__image {
        border-radius: basic.$border-radius;
        width: 100%;
        padding: 20px 10px 20px 20px;
        grid-area: image;
        @include mixins.desktop {
            padding: 20px;
        }
    }
    &__table {
        padding: 20px 20px 20px 0;
        grid-area: table;
        @include mixins.desktop {
            padding: 0 20px 20px 20px;
         }

    }
    &__part th {
        text-align: left;
        font-weight: 500;
    }
    &__part td {
        font-size: 14px;
        text-align: left;
        font-weight: 300;
        padding-left: 5px;
    }
    &__name {
        font-size: 20px;
        font-weight: 300;
    }
  
    &__link {
        @include mixins.link;
    }
}