@use '../base/basic';
@use '../base/colors';
@use '../base/typography';
@use '../abstracts/mixins';


.search {
    padding: 20px 20px 20px 36px;

    &__title {
        color: colors.$color-text;
    }
    &__text {
        padding: 10px;
        line-height: 1.6;
        border: 1px solid colors.$color-primary;
    }
}