<footer class="footer">
    <div class="footer__contact">
        <p class="footer__uppercase">Zuzana Volfová </p>
        <p>+420 728 881 941<br>
           zuzka.volfova@gmail.com
        </p>
    </div>
    <div  class="footer__copyright">
        Copyright © 2022
    </div>
</footer>

