<footer class="footer">
    <div class="footer__information">
        <p class="footer__uppercase">Zuzana Volfová </p>
        <div class="footer__contact">
            <a class="footer__email" href="mailto:zuzka.volfova@gmail.com">zuzka.volfova@gmail.com</a>
            <a class="footer__web" href="https://zuzana-volfova.netlify.app/">https://zuzana-volfova.netlify.app/</a>
            <a class="footer__linkedIn" href="www.linkedin.com/in/zuzana-volfová-90001530">LinkedIn</a>
        </div>
    </div>
    <div  class="footer__copyright">
        Copyright © 2022
    </div>
</footer>

