<header class="header">
    {% include 'partials/menu.njk' %}
    <!-- <img class="header__logo" src="/images/logo.png" alt="logo"> -->
    <a class="header__logo" href="/">Tvoření pro motýlky</a>
    <div class="header__space"></div>
    <div class="header__about"> <a href="/tipy/">Tipy k tvoření</a></div>
    <a class="header__search" href="/vyhledavani/"> <img src="/images/icons/search-icon.png" alt="vyhledavani"> </a>
</header>