<header class="header">
    {% include 'partials/menu.njk' %}
    <img class="header__logo" src="/images/logo.png" alt="logo">
    <img class="header__search" src="/images/icons/search-icon.png" alt="vyhledavani">  

</header>