<nav class="menu">
    <button class="menu__button" onclick="menu()">
        Menu
    </button>
    <ul class="menu__list">
        <li class="menu__item"><a href="/">                 <img class="menu__icon" src="/images/icons/home-icon.png" alt="ikona domu">Domů</a></li>
        <li class="menu__item"><a href="/jarni-tvoreni/">   <img class="menu__icon" src="/images/icons/spring-icon.png" alt="ikona jaro">Jarní tvoření</a></li>
        <li class="menu__item"><a href="/letni-tvoreni/">   <img class="menu__icon" src="/images/icons/summer-icon.png" alt="ikona léto">Letní tvoření</a></li>
        <li class="menu__item"><a href="/podzimni-tvoreni/"><img class="menu__icon" src="/images/icons/autumn-icon.png" alt="ikona podzim">Podzimní tvoření</a></li>
        <li class="menu__item"><a href="/zimni-tvoreni/">   <img class="menu__icon" src="/images/icons/winter-icon.png" alt="ikona zima">Zimní tvoření</a></li>
        <li class="menu__item"><a href="/onas/">            <img class="menu__icon" src="/images/icons/about-icon.png" alt="ikona o nas">O nás</a></li>
        <li class="menu__item"><a href="/vyhledavani/">     <img class="menu__icon" src="/images/icons/search-icon.png" alt="ikona vyhledavani">Vyhledávání</a></li>
    </ul>
</nav>

    

