
<!-- menu mobile -->
<nav class="menu-mobile">
    <button class="menu-mobile__button" onclick="menu()">
        Menu
    </button>
    <ul class="menu-mobile__list">
        <li class="menu-mobile__item"><a href="/">                 <img class="menu-mobile__icon" src="/images/icons/home-icon.png" alt="ikona domu">Domů</a></li>
        <li class="menu-mobile__item"><a href="/jarni-tvoreni/">   <img class="menu-mobile__icon" src="/images/icons/spring-icon.png" alt="ikona jaro">Jarní tvoření</a></li>
        <li class="menu-mobile__item"><a href="/letni-tvoreni/">   <img class="menu-mobile__icon" src="/images/icons/summer-icon.png" alt="ikona léto">Letní tvoření</a></li>
        <li class="menu-mobile__item"><a href="/podzimni-tvoreni/"><img class="menu-mobile__icon" src="/images/icons/autumn-icon.png" alt="ikona podzim">Podzimní tvoření</a></li>
        <li class="menu-mobile__item"><a href="/zimni-tvoreni/">   <img class="menu-mobile__icon" src="/images/icons/winter-icon.png" alt="ikona zima">Zimní tvoření</a></li>
        <li class="menu-mobile__item"><a href="/onas/">            <img class="menu-mobile__icon" src="/images/icons/about-icon.png" alt="ikona o nas">O nás</a></li>
        <li class="menu-mobile__item"><a href="/vyhledavani/">     <img class="menu-mobile__icon" src="/images/icons/search-icon.png" alt="ikona vyhledavani">Vyhledávání</a></li>
    </ul>
</nav>
<!-- menu desktop -->
<nav class="menu-desktop">
    <ul class="menu-desktop__list">
        <li class="menu-desktop__item"><a href="/jarni-tvoreni/">   Jarní tvoření</a></li>
        <li class="menu-desktop__item"><a href="/letni-tvoreni/">  Letní tvoření</a></li>
        <li class="menu-desktop__item"><a href="/podzimni-tvoreni/"> Podzimní tvoření</a></li>
        <li class="menu-desktop__item"><a href="/zimni-tvoreni/">  Zimní tvoření</a></li>
    </ul>
</nav>



    

