@use '../base/colors';
@use '../abstracts/mixins';

.footer {
    color: colors.$color-text;
    font-size: 12px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-top: 1px solid colors.$color-primary;
    &__email {
        @include mixins.link;
    }
}

.footer__contact p {
    margin: 0;
    text-decoration: none;
}

.footer__uppercase {
    text-transform: uppercase;
    line-height: 2;
}
