@use '../abstracts/mixins';
@use '../base/colors';
@use '../base/typography';


//layout header
.menu-desktop {
    display: none;
}

.header {
  
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 50px 1fr 20px;
    grid-template-areas:
        "menu logo search";

    @include mixins.tablet{
         justify-items: start;
         grid-template-columns: 1fr 80px 80px ;
         grid-template-rows: 60px 40px;
         grid-template-areas:
            "logo about search"
            "menu menu menu";
        
        .menu-mobile {
            &__button {
            display: none; 
            }
            &__list {
                display: none;
            }
        }
        .menu-desktop {
            display:flex;
            grid-area: menu;
        }
    }

    @include mixins.desktop{
        grid-template-columns: 700px 1fr 80px 80px ;
        grid-template-rows:60px 40px ;
        grid-template-areas:
            "logo logo       logo  logo  "
            "menu whitespace about search";
    }
     &__about {
        display:none;
        & a {
            color: colors.$color-primary;
            text-decoration: none;
            font-size: 18px;
        }
        @include mixins.tablet{
            display:grid;
            grid-area: about;
        }
        @include mixins.desktop{
            align-self: end;
            font-size: 20px;
        }
    }
    &__space {
        display: none;
        @include mixins.desktop{
            display: flex;
            grid-area: whitespace;        }
    }
    &__logo {
        padding: 10px 20px;
        grid-area: logo;
        font-size: 26px;
        font-weight: 200;
        font-family: typography.$font-secondary;
        color: colors.$color-logo;
        @include mixins.tablet{
            padding: 40px 0 20px 20px;
            margin-bottom: 20px;
            font-size: 32px;
        }
        @include mixins.desktop{
            justify-self: center;
            font-size: 42px;
            padding: 40px 0;
        }
    }
    &__search {
        width: 40px;
        grid-area: search;       
    }

    background-image: url(/images/background/background-header.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 20px;
}


    