.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(/images/background/background-header.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;

    &__logo {
        max-width: 260px;
    }
    &__search {
        width: 36px;
        height: 36px;
        object-fit:fit;
    }
}
