@use '../base/colors';
@use '../base/screens';

//UI menu

// screen mobile menu
.menu-mobile__button {
    padding: 5px 10px;
    background-color: colors.$color-primary;
    color: white;
    border: 0;
    border-radius: 4px;
    font-size: 20px;
    grid-area: menu;
}

.menu-mobile__list {
    display: none;
    padding: 10px;
    margin: 0;
    width: 200px;
    border-radius: 4px;
    box-shadow: 1px 2px 4px grey;
    background-color: white;
    position: absolute;
}

.menu-mobile__item {
   text-decoration: none;
   color: colors.$color-text;
   list-style: none;
}

.menu-mobile__item a {
    text-decoration: none;
    color: colors.$color-text;
    display: flex;
    align-items: center;
}

.menu-mobile__icon {
    padding: 10px 10px;
    margin-right: 10px;
    width: 46px;
}

// screen desktop menu

.menu-desktop__list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
}    
.menu-desktop__item  {
    text-align: center;
    list-style: none;
    padding-top: 20px;
       
    }
.menu-desktop__item a {
        width: 100%;
        color: colors.$color-primary;
        font-weight: 500;
        font-size: 18px;
        text-decoration: none;
        background-color: white;
        padding: 10px 16px;
        border-radius: 4px;
        @media screen and (min-width: screens.$screen-desktop){
            font-size: 20px;
        }
        
    &:hover {
        border: 1px solid colors.$color-border-light;
    }    
}