@use '../base/colors';

.header{
    padding: 20px;
}

.menu__button {
    padding: 10px 15px;
    background-color: colors.$color-primary;
    color: white;
    border: 0;
    border-radius: 4px;
    font-size: 20px;
}

.menu__list {
    display: none;
}

.menu__item {
   text-decoration: none;
   color: colors.$color-text;
   list-style: none;
}

.menu__item a {
    text-decoration: none;
    color: colors.$color-text;
}

.menu__icon {
    padding: 20px;
}