@use '../abstracts/mixins';
.glide {
    @include mixins.tablet{
        margin-top: 10px;
    }
}

.glide__slide {
    background-color: white;
    max-height: 500px;
    img {
        width: 100%;
    }
}
