@use 'colors';
@use 'typography';
@use '../abstracts/mixins';

$border-radius: 4px; 

html {
    box-sizing: border-box;
}
  
*, ::before, ::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    @media screen and (min-width: 1400px){
        background-image: url(/images/background/background-butterfly.png);
        background-size: cover;
    }
}
.kontejner {
    color: colors.$color-text;
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
    font-family: typography.$font-primary;
    @include mixins.desktop {
        padding-top: 40px;
    }
}

h1 {
    color: colors.$color-primary;
}

.back {
    @include mixins.link;
    color: colors.$color-text;
    display: flex;
    margin: 20px;
    font-weight: 300;
    &__icon {
        margin-right: 10px;
    }
}



