<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;500;700;800;900&family=Comfortaa:wght@300;400;500;600;700&family=Playball&family=Roboto:wght@100;300;400;900&display=swap" rel="stylesheet"> 
  

    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="css/glide.core.css">
	<link rel="stylesheet" href="css/glide.theme.css">
    
    <title> {{title}} </title>

<body onload="loadPictures()">
<div class="kontejner">
    {% include 'partials/header.njk' %}

    {{content | safe }} 


    {% include 'partials/footer.njk' %}
</div>
    <script src="/javaScript/menu.js"></script>
    <script src="/javaScript/glide.min.js"></script>
    <script src="/javaScript/images.js"></script>

    
    <script>
      new Glide('.glide', {
          autoplay: 4000,
          perView: 1,
          type: 'carousel',
      }).mount()
    </script>
</body>
