<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;500;700;800;900&family=Comfortaa:wght@300;400;500;600;700&family=Playball&family=Roboto:wght@100;300;400;900&display=swap" rel="stylesheet"> 
    
    <meta property="og:title" content="Tvoření pro motýlky">
	<meta property="og:description" content="Vyberte si tvoření a užijte si kreativní chvilku ">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://tvoreni-pro-motylky.netlify.app/images/social-media.jpg">
	<meta property="og:url" content="https://tvoreni-pro-motylky.netlify.app/">
	<meta property="og:locale" content="cs_CZ">
	
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:image" content="https://tvoreni-pro-motylky.netlify.app/images/social-media.jpg">
	<meta name="twitter:creator" content="@zuzvol">
	<meta name="twitter:title" content="Tvoření pro motýlky">
	<meta name="twitter:description" content="Vyberte si tvoření a užijte si kreativní chvilku">
    
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="css/glide.core.css">
	<link rel="stylesheet" href="css/glide.theme.css">
    
    <title> {{title}} </title>
<body>
    <div class="kontejner">
        {% include 'partials/header.njk' %}

        {{content | safe }} 


        {% include 'partials/footer.njk' %}
    </div>
    <script src="/javaScript/menu.js"></script>
    
   
</body>
